<div class="container-fluid">
    <h1>
        <a href="#classes"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {{ class.Course.Title }}<br />
        <small>Class #{{ class.Id }}: <a href="#departments/{{ department.Id }}">{{ class.Course.Department.Name }}</a> department</small>
    </h1>
    <div id="info">
        <h2 class="page-header">Info</h2>
        <div class="">
            <h3>
                #{{ class.Id }} <small>Id</small>
            </h3>
            <h3>
                {{ terms[class.Term] }}, {{ class.Year }}
                <small>Term</small>
            </h3>
            <h3>
                <a href="#professors/{{ class.Professor.Id }}">{{ class.Professor.Name }}</a>
                 <small>professor</small>
            </h3>
            <h3>
                <a href="#courses/{{ class.Course.Id }}">{{ class.Course.Title }}</a>
                 <small>course</small>
            </h3>
            <h3>
                {{ class.Course.Credits }} <small>credits</small>
            </h3>
            <h3>
                {{ class.Enrollments.length }} / {{ class.Size }} <small>chairs ocupation</small>
            </h3>
            <h3>
                <span ng-show="class.Enrollable">
                    <span class="glyphicon glyphicon-ok-circle text-success"></span>
                    Open
                </span>
                <span ng-hide="class.Enrollable">
                    <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                    Closed
                </span>
                <small>Enrollment current status</small>
            </h3>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br />
<div id="infoweekcalendar" class="hero">
    <div class="container-fluid">
        <h2>Schedule</h2>
    
        <div id="loadingBanner" ng-hide="loaded.schedules" class="container text-center">
            <center>
                <img src="/Content/Images/loading.gif" alt="Wait." class="img-responsive" />
            </center>
        </div>
        <div class="row">
            <div ng-repeat="schedule in schedules"
                 class="col-sm-2">
                <div class="well well-sm schedule-cell schedule-cell-default">
                    <a href=""
                       ng-show="classHas(schedule) == -1"
                       ng-click="bind(schedule)"
                       title="Click to bind class #{{ class.Id }} to schedule #{{ schedule.Id }}, on {{ daysOfWeek[schedule.DayOfWeek] }}.">
                        <span class="glyphicon glyphicon-unchecked"></span></a>
                    <a href=""
                       ng-click="unbind(schedule)"
                       ng-show="classHas(schedule) > -1"
                       class="btn btn-primary"
                       title="Click to unbind class #{{ class.Id }} to schedule #{{ schedule.Id }}, on {{ daysOfWeek[schedule.DayOfWeek] }}.">
                        <span class="glyphicon glyphicon-check"></span></a>

                    <span class="lead">{{ schedule.TimeStarted }}</span> to
                    <small class="small">{{ schedule.TimeFinished }}</small>, on
                    <span class="lead">{{ daysOfWeek[schedule.DayOfWeek] }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br />
<div class="container-fluid">
    <div id="location">
        <h2 class="page-header">Location</h2>

        <div ng-show="true" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4>
            <p>
                Unfortunately, no location information was provided.
                Why don't you <a href="">ask for it by clicking here</a>?
            </p>
        </div>
    </div>

    <div id="management">
        <h2 class="page-header">Management</h2>
        <div class="well">
            <form ng-valid ng-submit="update()">
                <fieldset>
                    <legend>Update class #{{ class.Id }}</legend>
                    <div class="form-group">
                        <select ng-model="class.CourseId" class="form-control">
                            <option value="" disabled selected>Course</option>
                            <option ng-repeat="course in courses"
                                    ng-selected="class.CourseId == course.Id"
                                    value="{{ course.Id }}">{{ course.Title }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select ng-model="class.ProfessorId" class="form-control">
                            <option value="" disabled selected>Professor</option>
                            <option ng-repeat="professor in professors"
                                    ng-selected="professor.Id == class.ProfessorId"
                                    value="{{ professor.Id }}">
                                {{ professor.Name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" ng-model="class.Size" class="form-control" placeholder="Size of the class" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select ng-model="class.Term" class="form-control">
                                    <option value="" disabled>Term</option>
                                    <option ng-repeat="term in terms"
                                            ng-selected="terms.indexOf(term) == class.Term"
                                            value="{{ term }}">{{ term }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select ng-model="class.Year" class="form-control">
                                    <option value="" disabled>Year</option>
                                    <option ng-repeat="year in years"
                                            ng-selected="year == class.Year"
                                            value="{{ year }}">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input ng-model="class.Enrollable" type="checkbox"> Enrollable
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Update
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="well">
            <form ng-submit="delete()">
                <fieldset>
                    <legend>Delete class</legend>

                    <div class="form-group">
                        <input placeholder="Type class name to confirm deletion..." ng-model="deletedClass" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" ng-class="{'disabled': deletedClass !== class.Course.Title}">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>