@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Lead = Model.Author.Email;
}

@Html.Partial("_Title")

<p class="text-justify">
    @Html.DisplayFor(model => model.Body)
    
    @if (Model.AuthorId == User.Identity.GetUserId())
    {
        @:&nbsp;<a href="/Posts/Edit/@Model.Id" title="Edit post @Model.Title"><span class="glyphicon glyphicon-pencil"></span></a>
    }
</p>
<p class="text-right">
    <small>@Model.DateCreated</small>
</p>
