@model Demosthenes.Core.ViewModels.CalendarViewModel

<h2>
    Calendar
    <br /><small>
        @ViewBag.term - @ViewBag.year
    </small>
</h2>

<div class="row">
    @foreach (DayOfWeek day in (DayOfWeek[])Enum.GetValues(typeof(DayOfWeek)))
    {
        <div class="col-lg-2 col-md-1">
            @foreach (Demosthenes.Core.Models.Class c in Model.GetClassesOnDay(day))
            {
                <div class="col-sd-12">
                    @c.Course.Title
                </div>
            }
        </div>
    }
</div>