@model StudentViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Lead = "student";
}

@Html.Partial("_Title")


@Html.DisplayFor(model => model.Email)
@if (Model.EmailConfirmed)
{
    <span class="label label-info">confirmed</span>
}
else
{
    <span class="label label-warning">not confirmed</span>
}
<br />

@Html.DisplayFor(model => model.PhoneNumber)
@if (Model.PhoneNumberConfirmed)
{
    <span class="label label-info">confirmed</span>
}
else
{
    <span class="label label-warning">not confirmed</span>
}
<br />
@Html.DisplayFor(model => model.DateBorn)
<br />
