<div class="container">
    <div class="jumbotron">
        <h1>Demosthenes</h1>
        <p>
            Glad you're here! Checkout the new layout!
        </p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h2>Departments</h2>
            <p>
                Query by department. You can also see all events, professors and courses related to this department.
            </p>
            <p>
                <a href="/#departments" class="btn btn-info">
                    <span class="glyphicon glyphicon-list"></span>
                    Departments
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Professors</h2>
            <p>
                Query by professor. Check their news feed, biography and classes currently lectured.
            </p>
            <p>
                <a href="#professors" class="btn btn-info">
                    <span class="glyphicon glyphicon-user"></span>
                    Professors
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Courses</h2>
            <p>
                Query by course. Check which professors are currently lecturing it.
            </p>
            <p>
                <a href="#courses" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Courses
                </a>
            </p>
        </div>
    </div>
</div>
