<div class="void-separator"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>
                <span class="glyphicon glyphicon-knight"></span> Demosthenes<br />
                <small>#DemocraticScheduler</small>
            </h1>
        </div>
        <div class="col-md-6 text-right">
            <blockquote class="blockquote-reverse">
                All freshmen that applied for financial aid must present
                comprobatory documentation until April 15th, up to 06:00 pm.
                For students who already have it, re-engagement agreement must
                be signed up until this same date.
                <small>Student affairs office</small>
            </blockquote>
            <blockquote class="blockquote-reverse">
                Enrollment for Fall Term's classes are now open.
                All regular Students can
                <a href=""> ajust their schedules</a> on Demosthenes.
                <small>Main office</small>
            </blockquote>
            <blockquote class="blockquote-reverse">
                International students were welcomed last Tuesday.
                Check out how was the <a href="">reception</a>.
                <small>International relations office</small>
            </blockquote>
        </div>
    </div>

</div>

<div class="hero">
    <div class="container">
        <h2>
            Hello,
            <span ng-show="false">there!</span>
            <span ng-show="true">Lucas David!</span>
        </h2>
        <h3>As you might know, enrollment for Fall Term is now open. Please use the system to select your classes.</h3>
        <p><a href="" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Enroll</a></p>
    </div>
</div>

<div class="container">
    <h2>
        Administrative tools
        <small><span title="This content isn't avaiable nor visible to everyone." class="glyphicon glyphicon-eye-close"></span></small>
    </h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Courses</h2>
            <p>See which professors are currently lecturing it, related classes and places.</p>
            <p><a href="#courses" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-pencil"></span> Courses</a></p>

            <h2>Classes</h2>
            <p>Discover which classes are currently avaiable, make evaluations of previous classes and plan the following terms.</p>
            <p><a href="#classes" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-book"></span> Classes</a></p>

            <h2>Schedules</h2>
            <p>Manage schedules avaiable for classes.</p>
            <p><a href="#schedules" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-time"></span> Schedules</a></p>
        </div>
        <div class="col-md-4">
            <h2>Professors</h2>
            <p>Check each professor individual news feed, biography and classes currently being lectured.</p>
            <p><a href="#professors" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-user"></span> Professors</a></p>

            <h2>Students</h2>
            <p>Grades, frequency lists and transcripts can be found here.</p>
            <p><a href="#students" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-user"></span> Students</a></p>
        </div>
        <div class="col-md-4">
            <h2>Departments</h2>
            <p>Check events, professors and courses related to a specific department.</p>
            <p><a href="/#departments" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-list"></span> Departments</a></p>

            <h2>Places</h2>
            <p>Query by class building or place. Check which/where classes are being offered.</p>
            <p><a href="#courses" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-tree-deciduous"></span> Places</a></p>
        </div>
    </div>
</div>
<div class="void-separator"></div>