<div class="container">
    <div class="jumbotron">
        <h1>Demosthenes</h1>
        <p>
            Glad you're here! Checkout the new layout!
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Courses</h2>
            <p>
                See which professors are currently lecturing it, related classes and places.
            </p>
            <p>
                <a href="#courses" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Courses
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <h2>Classes</h2>
            <p>
                Discover which classes are currently avaiable, make evaluations of previous classes
                and plan the following terms.
            </p>
            <p>
                <a href="#classes" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-book"></span>
                    Classes
                </a>
            </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-6">
            <h2>Professors</h2>
            <p>
                Check each professor individual news feed, biography and classes currently being lectured.
            </p>
            <p>
                <a href="#professors" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-user"></span>
                    Professors
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <h2>Students</h2>
            <p>
                Grades, frequency lists and transcripts can be found here.
            </p>
            <p>
                <a href="#students" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-user"></span>
                    Students
                </a>
            </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-6">
            <h2>Departments</h2>
            <p>
                Check events, professors and courses related to a specific department.
            </p>
            <p>
                <a href="/#departments" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-list"></span>
                    Departments
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <h2>Places</h2>
            <p>
                Query by class building or place. Check which/where classes are being offered.
            </p>
            <p>
                <a href="#courses" class="btn btn-lg btn-info">
                    <span class="glyphicon glyphicon-tree-deciduous"></span>
                    Places
                </a>
            </p>
        </div>
        
    </div>
</div>
