@model String

<div class="alert alert-info fade in" role="alert">
    Apparently no one has registered any @Model yet. Why don't you
    <a href="@Url.Action("Create")" class="alert-link"><strong>be the first</strong></a>?

    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>