@model String

<div class="alert alert-success fade in" role="alert">
    We couldn't find a @Model named "<strong>@ViewBag.q</strong>". Would you like to
    <a class="alert-link" href="@Url.Action("Create")"><strong>register it</strong></a>?

    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>