<div class="container-fluid">
    <h1>Professors</h1>

    <div ng-show="displayCreateForm">
        <div class="well">
            <div class="text-right">
                <button ng-click="displayCreateForm = false" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form ng-submit="create()">
                <fieldset>
                    <legend>Register a new professor</legend>

                    <div class="form-group">
                        <input type="email" ng-model="newProfessor.Email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="newProfessor.Name" class="form-control" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="newProfessor.SSN" class="form-control" placeholder="Social Security Number" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="newProfessor.PhoneNumber" class="form-control" placeholder="Phone number" />
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="newProfessor.Password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="newProfessor.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    </div>
                    <div class="form-group">
                        <select ng-model="newProfessor.DepartmentId" class="form-control">
                            <option value="" disabled selected>Department</option>
                            <option ng-repeat="department in departments" value="{{ department.Id }}">{{ department.Name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                            Create
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form class="">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-right">
            <button ng-click="displayCreateForm = true" ng-show="!displayCreateForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create</button>
        </div>
    </div>

    <div ng-show="!professors.length" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Empty!</h4> Not a single professor was registered in our database yet.
    </div>
    <div class="row">
        <div ng-repeat="professor in professors | filter:search" class="col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                <h3>
                    <a href="#professors/{{ professor.Id }}">
                        {{ professor.Name }}
                    </a>
                </h3>
                <p>
                    <strong>Email:</strong> <a href="mailto:{{ professor.Email }}">{{ professor.Email }}</a><br />
                    <strong>Phone:</strong> {{ professor.PhoneNumber }}<br />
                    <span ng-show="professor.Department">
                        <strong>Department:</strong> <a href="#departments/{{ professor.Department.Id }}">{{ professor.Department.Name }}</a>
                    </span>
                </p>
                <p>
                    <a href="#professors/{{ professor.Id }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        Details
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>