
<div class="container-fluid">
    <h2>Professors</h2>

    <div class="text-right">
        
    </div><br />
    
    <div ng-show="displayCreateForm">
        <div class="well">
            <div class="text-right">
                <button ng-click="displayCreateForm = false" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form ng-submit="create()">
                <fieldset>
                    <legend>Register a new professor</legend>

                    <div class="form-group">
                        <label for="newProfessorEmail">Email</label>
                        <input type="email" ng-model="newProfessor.Email" class="form-control" id="newProfessorEmail" />
                    </div>
                    <div class="form-group">
                        <label for="newProfessorName">Name</label>
                        <input type="text" ng-model="newProfessor.Name" class="form-control" id="newProfessorName" />
                    </div>
                    <div class="form-group">
                        <label for="newProfessorPassword">Password</label>
                        <input type="password" ng-model="newProfessor.Password" class="form-control" id="newProfessorPassword" />
                    </div>
                    <div class="form-group">
                        <label for="newProfessorConfirmPassword">Confirm password</label>
                        <input type="password" ng-model="newProfessor.ConfirmPassword" class="form-control" id="newProfessorConfirmPassword" />
                    </div>
                    <div class="form-group">
                        <label for="newProfessorDepartmentId">Department</label>
                        <select ng-model="newProfessor.DepartmentId" class="form-control">
                            <option ng-repeat="department in departments" value="{{ department.Id }}">{{ department.Name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                            Create
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form class="">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-right">
            <button ng-click="displayCreateForm = true" ng-show="!displayCreateForm" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create</button>
        </div>
    </div>

    <div ng-show="!professors.length" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Empty!</h4> Not a single professor was registered in your database yet.
    </div>
    <div class="row">
        <div ng-repeat="professor in professors | filter:search" class="col-md-3 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#professors/{{ professor.Id }}">
                            {{ professor.Name }}
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>Email:</strong> <a href="mailto:{{ professor.Email }}">{{ professor.Email }}</a><br />
                        <strong>Department:</strong> {{ professor.Department.Name }}
                    </p>
                    <p>
                        <a href="#professors/{{ professor.Id }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-globe"></span>
                            Details
                        </a>
                    </p>
                    
                </div>
            </div>
        </div>
        <div ng-show="newprofessor.Name" class="col-md-3 col-sm-4">
            <div class="disabled panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ newprofessor.Name }} (unsaved)</h3>
                </div>
                <div class="panel-body">
                    <a href="#professors/{{ professor.Id }}" class="btn btn-primary disabled">
                        <span class="glyphicon glyphicon-globe"></span>
                        Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>