<div class="container">
    <h1>
        <a href="#departments"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {{ department.Name }}<br />
        <small>Department #{{ department.Id }}: {{ department.Lead }}</small>
    </h1>

    <div id="courses">
        <h2 class="page-header">Courses</h2>

        <div ng-show="department.Courses.length === 0" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4><p>Looks like {{ department.Name }} hasn't registered any courses yet.</p>
        </div>

        <div class="row">
            <div ng-repeat="course in department.Courses" class="col-sm-4">
                <div class="well">
                    <h3>
                        <a href="#courses/{{ course.Id }}">{{ course.Title }}</a>
                    </h3>
                    <p>
                        <strong>Credits:</strong> {{ course.Credits }}
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            Details
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="professors">
        <h2 class="page-header">Professors</h2>
        
        <div ng-show="department.Professors.length === 0" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4><p>Looks like {{ department.Name }} hasn't registered any professors yet.</p>
        </div>

        <div class="row">
            <div ng-repeat="professor in department.Professors | filter:search" class="col-sm-4">
                <div class="well">
                    <h3>
                        <a href="#professors/{{ professor.Id }}">
                            {{ professor.Name }}
                        </a>
                    </h3>
                    <p>
                        <strong>Email:</strong> <a href="mailto:{{ professor.Email }}">{{ professor.Email }}</a><br />
                        <strong>Phone:</strong> {{ professor.PhoneNumber }}<br />
                    </p>
                    <p>
                        <a href="#professors/{{ professor.Id }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            Details
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="students">
        <h2 class="page-header">Students</h2>

        <div ng-show="department.Students.length === 0" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4><p>Looks like {{ department.Name }} hasn't registered any students yet.</p>
        </div>
    </div>
    <div id="events">
        <h2 class="page-header">Events</h2>

        <div ng-show="!department.Events" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4><p>Looks like {{ department.Name }} hasn't registered any events yet.</p>
        </div>
    </div>
    <div id="companies">
        <h2 class="page-header">Companies</h2>

        <div ng-show="!department.Companies" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Nothing here!</h4><p>Looks like {{ department.Name }} hasn't registered any companies yet.</p>
        </div>
    </div>
    <div id="management">
        <h2 class="page-header">Management</h2>
        <div class="well">
            <form ng-valid ng-submit="update()">
                <fieldset>
                    <legend>Update department</legend>

                    <div class="form-group">
                        <input type="text" ng-model="department.Name" placeholder="Department's name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="department.Lead" placeholder="Department's lead" class="form-control" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Update
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="well">
            <form>
                <fieldset>
                    <legend>Delete department</legend>

                    <div class="form-group">
                        <input placeholder="Type department name to confirm deletion..." ng-model="deletedDepartment" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button ng-click="delete()" class="btn btn-danger" ng-class="{'disabled': deletedDepartment!==department.Name}">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>