
<div class="container-fluid">
    <h1>Departments</h1>

    <div class="row">
        <div class="col-sm-6">
            <form class="">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-right">
            <form ng-submit="create()" class="form-inline">
                <div class="form-group">
                    <input type="text" ng-model="newDepartment.Name" class="form-control" placeholder="Department name..." />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="department in departments | filter:search" class="col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                <h3>
                    <a href="#departments/{{ department.Id }}">
                        {{ department.Name }}
                    </a>
                </h3>
                <p>
                    <i>{{ department.Lead }}</i>
                </p>
                <p>
                    <a href="#departments/{{ department.Id }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        Details
                    </a>
                </p>
            </div>
        </div>
        <div ng-show="newDepartment.Name" class="col-sm-4">
            <div class="well">
                <h3>
                    {{ newDepartment.Name }}
                    <small>(unsaved)</small>
                </h3>
                <p>
                    <a href="#departments/{{ department.Id }}" class="btn btn-primary disabled">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                        Details
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>