@{
    ViewBag.Title = "Home";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/feed.js")
}

<div class="jumbotron">
    <h1>Demosthenes</h1>
    <p class="lead">Academic management system.</p>
    <p>
        <a href="/Home/About" class="btn btn-default btn-lg">Learn more</a>

        @if (User.Identity.IsAuthenticated && ViewBag.AnyEnrollableClass)
        {
            @Html.ActionLink("Enroll at classes", "Index", "Enrollment", null, new { @class = "btn btn-lg btn-success", title = "Some classes are opened for enrollment." })
        }
    </p>
</div>

<div id="feed"></div>
<span id="feed-loading">
    <img src="~/Content/loading.gif" /> Loading posts...
</span>