@{
    ViewBag.Title = "Home";
}

@section scripts {
    @Scripts.Render("~/Scripts/app/ajax/feed.js")
}

<div class="jumbotron">
    <h1>Demosthenes</h1>
    <p class="lead">Academic management system.</p>
    <p>
        <a href="/Home/About" class="btn btn-default btn-lg">Learn more</a>

        @if (User.Identity.IsAuthenticated && ViewBag.AnyEnrollableClass)
        {
            <a href="@Url.Action("Index", "Enrollment")" class="btn btn-lg btn-info"
               title="Some classes are opened for enrollment.">Enroll at classes</a>
        }
    </p>
</div>

<div id="feed"></div>
<span id="feed-loading">
    <img src="~/Content/loading.gif" /> Loading posts...
</span>